.highlight {
    font-weight: bold;
    background-color: rgb(248, 233, 150);
}

#searchInput {
    border: 2px solid #CCE0F4;
    border-radius: 5px;
    font-size: 14px;
    width: 50%;
}

.searchContainerScroll {
    background-color: white;
    position: fixed;
    top: 70px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    padding: 15px 15px 5px 15px;
    transition: top 1s;
}

.searchContainer {
    width: 100%;
    min-width: 300px;
    background-color: white;
    padding: 15px 15px 5px 0px;
    top: -10px;
}